name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        perl: [ 'latest' ]
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install libraries
        run: sudo apt-get update -qq && sudo apt-get install -y gcc make libogg0 libvorbis0a libogg-dev libvorbis-dev libssl-dev
      - name: Install CPAN modules
        env:
          PATH: /usr/bin:/home/runner/work/_actions/shogo82148/actions-setup-perl/v1/bin/
        run: cpanm --sudo --installdeps .
      - name: Archive CPAN logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: cpan_log
          path: /home/runner/.cpanm/work/*/build.log
      - name: Run tests
        run: prove -lv t

  coverage:
    runs-on: 'ubuntu-latest'
    container: davorg/perl-coveralls:latest
    name: Test coverage
    steps:
      - uses: actions/checkout@v5
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
      - name: Install libraries
        run: sudo apt-get update -qq && sudo apt-get install -y gcc make libogg0 libvorbis0a libogg-dev libvorbis-dev libssl-dev
      - name: Install CPAN modules
        env:
          PATH: /usr/bin:/home/runner/work/_actions/shogo82148/actions-setup-perl/v1/bin/
        run: cpanm --sudo --installdeps .
      - name: Archive CPAN logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: cpan_log
          path: /home/runner/.cpanm/work/*/build.log
      - name: Coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -test -report Coveralls

  perlcritic:
    uses: PerlToolsTeam/github_workflows/.github/workflows/cpan-perlcritic.yml@main

  complexity:
    uses: PerlToolsTeam/github_workflows/.github/workflows/cpan-complexity.yml@main
